body {
    background-color: hsl(0, 0%, 10%);
}

.to-do-list {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin-top: 100px;
    color: white;
}

h1 {
    font-size: 4rem;
}

button {
     font-size: 1.7rem;
     font-weight: bold;
     padding: 10px 20px;
     color: white;
     border: none;
     border-radius: 5px;
     cursor: pointer;
     transition: background-color 0.5s ease;
}

.add-button {
    background-color: hsl(195, 95%, 52%);
    color: white;
}
.add-button:hover {
    background-color: hsl(193, 95%, 45%);
}

.delete-button {
    background-color: hsl(10, 91%, 52%);
}
.delete-button:hover {
    background-color: hsl(4, 91%, 43%);
}

.move-button {
    background-color: hsl(166, 72%, 57%);
}
.move-button:hover {
    background-color: hsl(166, 72%, 47%);
}

input[type='text'] {
    font-size: 1.5rem;
    padding: 10px;
    border: 2px solid hsl(0, 0%, 72%, 0.5);
    border-radius: 5px;
    color: hsla(0, 0%, 0%, 0.5);
}
ol {
    padding: 0;
}
li {
    font-size: 2rem;
    font-weight: bold;
    padding: 15px;
    background-color: hsl(0, 0%, 95%);
    border: 3px solid hsla(0, 0%, 85%, 0.75);
    margin-bottom: 10px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    color: rgb(4, 4, 4);
}

.text {
    flex: 1;
}

.delete-button, .move-button {
    padding: 8px 12px;
    font-size: 1.4rem;
    margin-left: 10px;
}

.ol-div{
    width: 100%;
    display: flex;
    justify-content: center;
}